* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 880px;
  margin: 0 auto;
  padding-top: 50px;
  padding-left: 15px;
}

img {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;

}
.edge {
  margin-right: 0;
}

header {
  width: 860px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  background-color: #00bfff;
  text-align: center;
  margin-top: 20px;
}

footer {
  width: 860px;
  margin: 20px auto;
  padding: 25px 10px;
  border-radius: 5px;
  background-color: #00bfff;
  text-align: center;
  clear: both;
}
